body {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background-color: #222;
    color: white;
    text-shadow: 0px 0px 6px #00ff00
}
canvas {
    border: 2px solid white;
    background-color: black;
}
button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
}
button:hover {
    background-color: #00ff739c;
}
.controls {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}
.high-score {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
}


body.minimalist {
    text-shadow: none;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgb(227, 246, 255);
    color: black;
    }
    .minimalist canvas {
    border: 2px solid black;
    background-color: white;
    }
    .minimalist .high-score {
    color: black;
    text-shadow: none;
    }
    .minimalist button:hover {
        background-color: #777777;
    }